.wrapper {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 40px;
}

.advantage {
	margin-bottom: 20px;
}

.title {
	font-size: 20px;
	font-weight: 700;
	line-height: 27px;
}

.left-side {
	display: grid;
	grid-template-rows: 50px 1fr;
	gap: 16px;

	align-items: center;
}

.separator {
	width: 1px;

	background: #B7B7B7;
}

.description {
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
}
