.sort-icon {
	display: none;
}

.active {
	color: var(--primary);

	font-weight: bold;
}

.active .sort-icon {
	display: block;

	margin-right: 8px;
}

.sort {
	display: inline-block;
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 40px;
}

.sort span {
	display: grid;
	grid-template-columns: 20px 1fr;

	align-items: center;
	gap: 8px;

	cursor: pointer;
}

.sort span:not(.active) {
	display: grid;
	grid-template-columns: 1fr;
}
